---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/<%= repo_name %>/issues/1/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <%= auth %>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1425240661'
      Etag:
      - W/"a7712406904fe621a1ec364a0a26da5c"
      X-Oauth-Scopes:
      - delete_repo, gist, notifications, repo, user, write:org, write:public_key,
        write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: >
        [
          {
            "url": "https://api.github.com/repos/<%= repo_name %>/issues/comments/75180027",
            "html_url": "https://github.com/<%= repo_name %>/pull/1#issuecomment-75180027",
            "issue_url": "https://api.github.com/repos/<%= repo_name %>/issues/1",
            "id": 99999999,
            "user": {
              "login": "otheruser",
              "id": 55555,
              "avatar_url": "https://avatars.githubusercontent.com/u/55555?v=3",
              "gravatar_id": "",
              "url": "https://api.github.com/users/otheruser",
              "html_url": "https://github.com/otheruser",
              "followers_url": "https://api.github.com/users/otheruser/followers",
              "following_url": "https://api.github.com/users/otheruser/following{/other_user}",
              "gists_url": "https://api.github.com/users/otheruser/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/otheruser/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/otheruser/subscriptions",
              "organizations_url": "https://api.github.com/users/otheruser/orgs",
              "repos_url": "https://api.github.com/users/otheruser/repos",
              "events_url": "https://api.github.com/users/otheruser/events{/privacy}",
              "received_events_url": "https://api.github.com/users/otheruser/received_events",
              "type": "User",
              "site_admin": false
            },
            "created_at": "2015-02-20T02:30:22Z",
            "updated_at": "2015-02-20T02:30:22Z",
            "body": "I don't know about these PANCAKES"
          },
          {
            "url": "https://api.github.com/repos/<%= repo_name %>/issues/comments/75180027",
            "html_url": "https://github.com/<%= repo_name %>/pull/1#issuecomment-75180027",
            "issue_url": "https://api.github.com/repos/<%= repo_name %>/issues/1",
            "id": 99999998,
            "user": {
              "login": "otheruser",
              "id": 55555,
             [...]
