---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ello/ello/issues/678/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 9c6803f044b8d971cde35d4b748bb4897aebfbdf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1425160152'
      Etag:
      - W/"2b78b2de9b27f43fb626e6e78b15d0d5"
      X-Oauth-Scopes:
      - delete_repo, gist, notifications, repo, user, write:org, write:public_key,
        write:repo_hook
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/ello/ello/issues/comments/76267353","html_url":"https://github.com/ello/ello/pull/678#issuecomment-76267353","issue_url":"https://api.github.com/repos/ello/ello/issues/678","id":76267353,"user":{"login":"jtrim","id":170541,"avatar_url":"https://avatars.githubusercontent.com/u/170541?v=3","gravatar_id":"","url":"https://api.github.com/users/jtrim","html_url":"https://github.com/jtrim","followers_url":"https://api.github.com/users/jtrim/followers","following_url":"https://api.github.com/users/jtrim/following{/other_user}","gists_url":"https://api.github.com/users/jtrim/gists{/gist_id}","starred_url":"https://api.github.com/users/jtrim/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jtrim/subscriptions","organizations_url":"https://api.github.com/users/jtrim/orgs","repos_url":"https://api.github.com/users/jtrim/repos","events_url":"https://api.github.com/users/jtrim/events{/privacy}","received_events_url":"https://api.github.com/users/jtrim/received_events","type":"User","site_admin":false},"created_at":"2015-02-26T20:43:05Z","updated_at":"2015-02-26T20:43:05Z","body":"LGTM"},{"url":"https://api.github.com/repos/ello/ello/issues/comments/76338079","html_url":"https://github.com/ello/ello/pull/678#issuecomment-76338079","issue_url":"https://api.github.com/repos/ello/ello/issues/678","id":76338079,"user":{"login":"mikepack","id":247668,"avatar_url":"https://avatars.githubusercontent.com/u/247668?v=3","gravatar_id":"","url":"https://api.github.com/users/mikepack","html_url":"https://github.com/mikepack","followers_url":"https://api.[...]
